In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [8]:
##read the dataset

df = spark.read.option('header','true').csv('book1.csv',inferSchema=True)

In [9]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- emp id: integer (nullable = true)

In [10]:
df=spark.read.csv('book1.csv',header=True,inferSchema=True)

In [11]:
df.columns

['name', 'emp id']

In [13]:
#select column of df

df.select(['name','emp id'])

DataFrame[name: string, emp id: int]

In [14]:
df.dtypes

[('name', 'string'), ('emp id', 'int')]

In [16]:
df.describe().show()

+-------+-------+------+
|summary|   name|emp id|
+-------+-------+------+
|  count|      3|     3|
|   mean|   null|   2.0|
| stddev|   null|   1.0|
|    min| gaurav|     1|
|    max|swapnil|     3|
+-------+-------+------+

In [18]:
###Adding Columns

df = df.withColumn('Experience after 2 years',df['emp id']+2)

+-------+------+------------------------+
|   name|emp id|Experience after 2 years|
+-------+------+------------------------+
|swapnil|     1|                       3|
| pratik|     2|                       4|
| gaurav|     3|                       5|
+-------+------+------------------------+

In [19]:
##drop columns

df.drop('Experience after 2 years').show()

+-------+------+
|   name|emp id|
+-------+------+
|swapnil|     1|
| pratik|     2|
| gaurav|     3|
+-------+------+

In [21]:
##Rename

df.withColumnRenamed('name','new_name').show()

+--------+------+
|new_name|emp id|
+--------+------+
| swapnil|     1|
|  pratik|     2|
|  gaurav|     3|
+--------+------+