In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [2]:
df = spark.read.csv('Book2.csv',header=True,inferSchema=True)

In [3]:
df.show()

+------+---+------+
|  Name|Age|Salary|
+------+---+------+
| Pooja| 34| 80000|
|Diksha| 28|  null|
|  null| 45|980000|
| Ankur| 32|560000|
+------+---+------+

## Filter opeeration

In [5]:
##Salary of people less than or equal 20000

df.filter('Salary<=200000').show()

+-----+---+------+
| Name|Age|Salary|
+-----+---+------+
|Pooja| 34| 80000|
+-----+---+------+

In [6]:

df.filter('Salary<=200000').select(['Name','Age']).show()

+-----+---+
| Name|Age|
+-----+---+
|Pooja| 34|
+-----+---+

In [11]:

df.filter((df['Salary']<2000000) | (df['Salary']>70000)).show()

+-----+---+------+
| Name|Age|Salary|
+-----+---+------+
|Pooja| 34| 80000|
| null| 45|980000|
|Ankur| 32|560000|
+-----+---+------+