In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [3]:
df = spark.read.csv('Book2.csv',header=True,inferSchema=True)

In [4]:
df.show()

+------+---+------+
|  Name|Age|Salary|
+------+---+------+
| Pooja| 34| 80000|
|Diksha| 28|  null|
|  null| 45|980000|
| Ankur| 32|560000|
+------+---+------+

In [5]:
df.drop('Name').show()

+---+------+
|Age|Salary|
+---+------+
| 34| 80000|
| 28|  null|
| 45|980000|
| 32|560000|
+---+------+

In [6]:
df.na.drop().show()

+-----+---+------+
| Name|Age|Salary|
+-----+---+------+
|Pooja| 34| 80000|
|Ankur| 32|560000|
+-----+---+------+

In [7]:
df.na.drop(how='all').show()

+------+---+------+
|  Name|Age|Salary|
+------+---+------+
| Pooja| 34| 80000|
|Diksha| 28|  null|
|  null| 45|980000|
| Ankur| 32|560000|
+------+---+------+

In [8]:
df.na.drop(how='any',thresh=2).show() # atleast 2 values are null .. it will drop

+------+---+------+
|  Name|Age|Salary|
+------+---+------+
| Pooja| 34| 80000|
|Diksha| 28|  null|
|  null| 45|980000|
| Ankur| 32|560000|
+------+---+------+

In [10]:
df.na.drop(how='any',subset=['Name']).show()

+------+---+------+
|  Name|Age|Salary|
+------+---+------+
| Pooja| 34| 80000|
|Diksha| 28|  null|
| Ankur| 32|560000|
+------+---+------+

In [15]:
## Fill the missing values
df.na.fill(6000).show()

+------+---+------+
|  Name|Age|Salary|
+------+---+------+
| Pooja| 34| 80000|
|Diksha| 28|  6000|
|  null| 45|980000|
| Ankur| 32|560000|
+------+---+------+

In [19]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
inputCols = ['Age','Salary'],
outputCols=['{}_imouted'.format(c) for c in ['Age','Salary']]
).setStrategy('median')

In [20]:
imputer.fit(df).transform(df).show()

+------+---+------+-----------+--------------+
|  Name|Age|Salary|Age_imouted|Salary_imouted|
+------+---+------+-----------+--------------+
| Pooja| 34| 80000|         34|         80000|
|Diksha| 28|  null|         28|        560000|
|  null| 45|980000|         45|        980000|
| Ankur| 32|560000|         32|        560000|
+------+---+------+-----------+--------------+