In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [11]:
df = spark.read.csv('Book2.csv',header=True,inferSchema=True)
df.show()

+-------+---+------+------------+
|   Name|Age|Salary|  Department|
+-------+---+------+------------+
|  Pooja| 34| 80000|       Sales|
| Diksha| 28|  3000|     Testing|
|  Pooja| 45|980000|       Sales|
|  Ankur| 32|560000|       Sales|
|  Pooja| 32|  2000|       Sales|
|  Ankur| 12| 50000|       Sales|
|Swapnil| 27| 75000|Data Science|
+-------+---+------+------------+

In [10]:
## groupby

df.groupBy('Name').sum().show()

+-------+--------+-----------+
|   Name|sum(Age)|sum(Salary)|
+-------+--------+-----------+
|  Ankur|      44|     610000|
| Diksha|      28|       3000|
|  Pooja|     111|    1062000|
|Swapnil|      27|      75000|
+-------+--------+-----------+

In [12]:
## group by departments having max salary

df.groupBy('Department').mean().show()

+------------+--------+-----------+
|  Department|avg(Age)|avg(Salary)|
+------------+--------+-----------+
|       Sales|    31.0|   334400.0|
|     Testing|    28.0|     3000.0|
|Data Science|    27.0|    75000.0|
+------------+--------+-----------+

In [13]:
df.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|       Sales|    5|
|     Testing|    1|
|Data Science|    1|
+------------+-----+

In [14]:
df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|    1750000|
+-----------+